{% extends 'base.html.twig' %}

{% block title %}Batalla Pokémon{% endblock %}


{% block body %}
<style>
.pokemon-card {
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                padding: 20px;
                text-align: center;
                height: 400px; /* Altura fija para todas las cards */
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .pokemon-image {
                width: 50%;
                height: auto;
                object-fit: cover;
                justify-content: center;
                align-self: center;
            }
</style>
<div class="container">
    <h1>Batalla Pokémon</h1>

    
    <div class="battle-container">
        <div class="pokemon-card" style="width: 300px;">
            <div class="pokemon-info">
                <h2>Tu Pokémon</h2>
                <img src="{{ myPokemon.pokemon.imagen }}" alt="{{ myPokemon.pokemon.nombre }}" class="pokemon-image">
                <h3>{{ myPokemon.pokemon.nombre }}</h3>
                <p>Fuerza: {{ myPokemon.fuerza }}</p>
                <p>Nivel: {{ myPokemon.nivel }}</p>
            </div>
        </div>
        
        <div class="vs">VS</div>
        
        <div class="pokemon-card" style="width: 300px;">
            <div class="pokemon-info">
                <h2>Pokémon Aleatorio</h2>
                <img src="{{ randomPokemon.imagen }}" alt="{{ randomPokemon.nombre }}" class="pokemon-image">
                <h3>{{ randomPokemon.nombre }}</h3>
                <p>Fuerza: {{ fuerza }}</p>
                <p>Nivel: {{ nivel }}</p>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <h2 style="color: {% if ganador == myPokemon.user.username %}#28a745{% else %}#dc3545{% endif %};">
            Ganador: {{ ganador }}
        </h2>
        
        {% if ganador == myPokemon.user.username %}
            <div class="victory-options">
                <h3>¡Has ganado! Elige una recompensa:</h3>
                <div class="button-group">
                    <a href="{{ path('app_pokedex_subir_nivel', {'id': myPokemon.id}) }}" class="btn btn-success">Subir de Nivel</a>
                    <a href="{{ path('app_pokedex_capturar', {'id': randomPokemon.id}) }}" class="btn btn-primary">Intentar Capturar</a>
                    <a href="{{ path('app_pokedex_resucitar') }}" class="btn btn-warning">Resucitar Pokémon</a>
                </div>
            </div>
        {% else %}
            <a href="{{ path('app_pokedex_index') }}" class="btn btn-primary mt-3">Volver a la Pokédex</a>
        {% endif %}
    </div>
</div>
{% endblock %}