{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}

{% block body %}
<div class="container">
    <h1>Lista de Pokémon</h1>
    <div class="text-center mb-4">
        <a href="{{ path('app_main_choose') }}" class="btn btn-primary">Volver al Menú</a>
    </div>
    
    <div class="pokemon-grid">
        {% for pokemon in pokemons %}
            <div class="pokemon-card">
                <div class="pokemon-info">
                    <img src="{{ pokemon.pokemon.imagen }}" alt="{{ pokemon.pokemon.nombre }}" class="pokemon-image">
                    <h2>{{ pokemon.pokemon.nombre }}</h2>
                    <p>Tipo: {{ pokemon.pokemon.tipo }}</p>
                    <p>Nivel: {{ pokemon.nivel }}</p>
                    <p>Fuerza: {{ pokemon.fuerza }}</p>
                </div>
                <div class="pokemon-actions">
                    <div class="button-group">
                        <a href={{ path('app_pokedex_entrenar', {'id': pokemon.id}) }} class="btn btn-success">Entrenar</a>
                        <a href={{ path('app_pokedex_luchar', {'id': pokemon.id}) }} class="btn btn-primary">Combatir</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">No hay Pokémon disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

