{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}

{% block stylesheets %}
    <style>
        .pokemon-grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                gap: 20px;
                padding: 20px;
            }
            
            .pokemon-card {
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                padding: 20px;
                text-align: center;
                height: auto; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .pokemon-image {
                width: 150px;
                height: 150px;
                object-fit: contain; /* Mantiene la proporción de la imagen */
                margin: 10px auto;
            }
            
            .pokemon-info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .pokemon-actions {
                margin-top: auto;
                padding: 10px 0;
            }

            .button-group {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
            }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Lista de Pokémon</h1>
    <div class="text-center mb-4">
        <a href="{{ path('app_main_choose') }}" class="btn btn-primary">Volver al Menú</a>
    </div>
    
    <div class="pokemon-grid">
        {% for pokemon in pokemons %}
            <div class="pokemon-card">
                <div class="pokemon-info">
                    <img src="{{ pokemon.pokemon.imagen }}" alt="{{ pokemon.pokemon.nombre }}" class="pokemon-image">
                    <h2>{{ pokemon.pokemon.nombre }}</h2>
                    <p>Tipo: {{ pokemon.pokemon.tipo }}</p>
                    <p>Nivel: {{ pokemon.nivel }}</p>
                    <p>Fuerza: {{ pokemon.fuerza }}</p>
                </div>
                <div class="pokemon-actions">
                    {% if modo == 'pokedex' %}
                        <div class="button-group">
                            <a href={{ path('app_pokedex_entrenar', {'id': pokemon.id}) }} class="btn btn-success">Entrenar</a>
                            <a href={{ path('app_pokedex_luchar_random', {'id': pokemon.id}) }} class="btn btn-primary">Combatir Aleatorio</a>
                            <a href={{ path('app_batalla_new', {'pokemon': pokemon.id}) }} class="btn btn-success">Crear Batalla</a>
                        </div>
                    {% elseif modo == 'batalla' %}
                        <div class="button-group">
                            <a href={{ path('app_batalla_unirse', {'batallaId': batalla.id, 'pokemonId':pokemon.id}) }} class="btn btn-success">Elegir</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="text-center">No hay Pokémon disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

